<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h2 class="text-center mb-4">Registro</h2>

        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" formControlName="nombre" placeholder="Ingresa tu nombre" required>
          <div *ngIf="registerForm.get('nombre')?.invalid && (registerForm.get('nombre')?.dirty || registerForm.get('nombre')?.touched)" class="text-danger">
            Nombre es requerido
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingresa tu email" required>
          <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="text-danger">
            Email inválido
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="contraseña" placeholder="Ingresa tu contraseña" required>
          <div *ngIf="registerForm.get('contraseña')?.invalid && (registerForm.get('contraseña')?.dirty || registerForm.get('contraseña')?.touched)" class="text-danger">
            Contraseña es requerida
          </div>
        </div>
        
      </form>
      <button type="button" class="btn btn-primary btn-block" (click)="register()">Registrarse</button>

      <p class="text-center mt-3" *ngIf="registrationSuccess">Registrado correctamente</p>
      <p class="text-center mt-3" *ngIf="emailInUse">El correo electrónico ya está en uso</p>
      <p class="text-center mt-3">¿Ya estás registrado? <a routerLink="/front/login">Inicia Sesión aquí</a></p>
    </div>
  </div>
</div>
